main .div-resultados {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 2px red;
}
main .div-resultados .resultados{
  display: flex;
  width: 100%;
    border: solid 2px blue;
}
main .div-resultados .resultados li{
border: solid 2px green;
width: 19%;
margin-left: 0px;
}
main .div-resultados .resultados li a img{
width: 100%;


}

#titulos{
  text-transform: capitalize;
}




/* media */
@media (min-width: 451px) and (max-width: 768px){

  #click_pelis img {
    width: 50%;
   }
}


@media (max-width: 450px){

 #click_pelis img {
    width: 100%;
  }
}
